.navbar {
  margin-top: 23px;

  height: 48px;
  box-sizing: border-box;

  .logo {
    float: left;
    border-right: 2px solid #EAECEE;
  }
  .container {
    .wrap {
      height: 48px;
      background: #ffffff;
      > div {
        float: left;
      }
    }
  }
  .title {
    font-size: 20px;
    color: #575656;
    line-height: 50px;
    margin-left: 10px;
  }

}
